html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--pale-grey);
}

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c7c7c7;
  --very-light-pink: #c4c4c4;
  --pale-grey: #f5f6fa;
  --medium-blue: #307bbe;
  --white: #fafafa;
  --white-two: #fff;
  --white-three: #e8e8e8;
  --azure: #0290ff;
  --black-5: rgba(0, 0, 0, 0.05);
}

.panel-bg {
  width: 90%;
  height: 68.563rem;
  margin: 0 auto 4.063rem auto;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--white);
  border: 1px solid #e8eded;
}
